html, body {
    width: 90px;
}

.audio_player {
    width: 90px;
    height: 30px;
    background-color: #507299;
    text-align: center;
    border-radius: 5px;
}

.audio_player div {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.audio_player div:hover {
    background-color: #305075;
}

.audio_player div:active {
    background-color: #d7e2ec;
}

.audio_player img {
    width: 20px;
    height: auto;
}

.audio_player_play img {
    width: 28px;
    margin: 3px 0 3px 1px;
}

div.audio_player_prev {
    float: left;
    margin: 5px 0 5px 5px;
}

div.audio_player_play {
    width: 30px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

div.audio_player_next {
    float: right;
    margin: 5px 5px 5px 0;
}

#audio_player_play {
    display: block;
}
